<div id="easyp-custom-html">  
  <div class="easyp-code">{{section.settings.custom_HTML}}</div>
</div>

{% schema %}

  {

    "name": "HTML",

    "settings": [
      {

        "type":"textarea",

        "id": "custom_HTML",

        "label": "HTML"

      }

    ],

    "presets": [

      {

        "name": "Custom HTML",

        "category": "garan",

        "settings": {


        }

      }

    ]

  }

{% endschema %}