@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-300-Normal.woff2" | asset_url }}) format(woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-300-Italic.woff2" | asset_url }}) format(woff2);
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-400-Normal.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-400-Italic.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-500-Normal.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-500-Italic.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-700-Normal.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Diatype;
  src: url({{ "Diatype-700-Italic.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Louize;
  src: url({{ "Louize-400-Normal.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Louize;
  src: url({{ "Louize-400-Italic.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
.typ-h1,
h1 {
  font-family: Louize;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  font-size: 5rem;
  line-height: 5.5rem;
}
@media only screen and (min-width: 375px) {
  .typ-h1,
  h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
.typ-h2,
h2 {
  font-family: Louize;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 3.5rem;
  line-height: 3.75rem;
}
@media only screen and (min-width: 375px) {
  .typ-h2,
  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
.typ-h3,
h3 {
  font-family: Louize;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 3rem;
  line-height: 3.25rem;
}
@media only screen and (min-width: 375px) {
  .typ-h3,
  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
.typ-h4,
h4 {
  font-family: Diatype;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 2rem;
  line-height: 2rem;
}
@media only screen and (min-width: 375px) {
  .typ-h4,
  h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
.typ-h5,
h5 {
  font-family: Diatype;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 375px) {
  .typ-h5,
  h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}
.typ-p1,
p {
  font-family: Diatype;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 375px) {
  .typ-p1,
  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
.typ-p2 {
  font-family: Diatype;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 1rem;
  line-height: 1.25rem;
}
@media only screen and (min-width: 375px) {
  .typ-p2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
.typ-p3 {
  font-family: Diatype;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media only screen and (min-width: 375px) {
  .typ-p3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.typ-p4 {
  font-family: Diatype;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 0.75rem;
  line-height: 1rem;
}
@media only screen and (min-width: 375px) {
  .typ-p4 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.typ-eyebrow {
  font-family: Diatype;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
}
@media only screen and (min-width: 375px) {
  .typ-eyebrow {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.typ-cta {
  font-family: Diatype;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 1rem;
  line-height: 1rem;
}
@media only screen and (min-width: 375px) {
  .typ-cta {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.typ-brand-01 {
  color: var(--brand-01);
}
.typ-brand-01--light {
  color: var(--brand-01--light);
}
.typ-brand-02 {
  color: var(--brand-02);
}
.typ-brand-02--light {
  color: var(--brand-02--light);
}
.typ-brand-03 {
  color: var(--brand-03);
}
.typ-accent-01 {
  color: var(--accent-01);
}
.typ-accent-01--light {
  color: var(--accent-01--light);
}
.typ-accent-02 {
  color: var(--accent-02);
}
.typ-accent-02--light {
  color: var(--accent-02--light);
}
.typ-accent-03 {
  color: var(--accent-03);
}
.typ-accent-03--light {
  color: var(--accent-03--light);
}
.typ-accent-04 {
  color: var(--accent-04);
}
.typ-accent-04--light {
  color: var(--accent-04--light);
}
.typ-accent-05 {
  color: var(--accent-05);
}
.typ-accent-05--light {
  color: var(--accent-05--light);
}
.typ-light-01 {
  color: var(--light-01);
}
.typ-dark-01 {
  color: var(--dark-01);
}
.typ-dark-01--light {
  color: var(--dark-01--light);
}
.typ-ui-success {
  color: var(--ui-success);
}
.typ-ui-warning {
  color: var(--ui-warning);
}
.typ-ui-danger {
  color: var(--ui-danger);
}
.typ-ui-disabled {
  color: var(--ui-disabled);
}
.typ-thin {
  font-weight: 100;
}
.typ-extra-light {
  font-weight: 200;
}
.typ-light {
  font-weight: 300;
}
.typ-normal {
  font-weight: 400;
}
.typ-medium {
  font-weight: 500;
}
.typ-semi-bold {
  font-weight: 600;
}
.typ-bold {
  font-weight: 800;
}
.typ-extra-bold {
  font-weight: 900;
}
.typ-black {
  font-weight: 950;
}
.cw {
  max-width: 1920px;
  margin: 0 auto;
}
.cw--un {
  width: calc(
    calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
      calc(0.75rem * (4 - 1)) + calc(0px * 2)
  );
}
@media only screen and (min-width: 375px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
        calc(0.75rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 580px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 768px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1440px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1680px) {
  .cw--un {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 4) +
        calc(1.5rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
.cw--sb {
  width: calc(
    calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
      calc(0.75rem * (4 - 1)) + calc(0px * 2)
  );
}
@media only screen and (min-width: 375px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
        calc(0.75rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 580px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 768px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1440px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1680px) {
  .cw--sb {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 6) +
        calc(1.5rem * (6 - 1)) + calc(0px * 2)
    );
  }
}
.cw--in {
  max-width: 888px;
  width: calc(
    calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
      calc(0.75rem * (4 - 1)) + calc(0.75rem * 2)
  );
}
@media only screen and (min-width: 375px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
        calc(0.75rem * (4 - 1)) + calc(0.75rem * 2)
    );
  }
}
@media only screen and (min-width: 580px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 768px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1440px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1680px) {
  .cw--in {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 8) +
        calc(1.5rem * (8 - 1)) + calc(0px * 2)
    );
  }
}
.cw--ov {
  max-width: 1116px;
  width: calc(
    calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
      calc(0.75rem * (4 - 1)) + calc(-1.5rem * 2)
  );
}
@media only screen and (min-width: 375px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
        calc(0.75rem * (4 - 1)) + calc(-1.5rem * 2)
    );
  }
}
@media only screen and (min-width: 580px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(-3rem * 2)
    );
  }
}
@media only screen and (min-width: 768px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1440px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1680px) {
  .cw--ov {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 10) +
        calc(1.5rem * (10 - 1)) + calc(0px * 2)
    );
  }
}
.cw--fg {
  max-width: 1344px;
  width: calc(
    calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
      calc(0.75rem * (4 - 1)) + calc(0px * 2)
  );
}
@media only screen and (min-width: 375px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 1.5rem * 2 - 0.75rem * (4 - 1)) / 4) * 4) +
        calc(0.75rem * (4 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 580px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 768px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1440px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
@media only screen and (min-width: 1680px) {
  .cw--fg {
    width: calc(
      calc(calc((100vw - 3rem * 2 - 1.5rem * (12 - 1)) / 12) * 12) +
        calc(1.5rem * (12 - 1)) + calc(0px * 2)
    );
  }
}
.cw--fw {
  max-width: 1920px;
  width: calc(100vw - (100vw - 100%));
}
.cw--vp {
  width: 100vw;
  max-width: 100vw;
}
@media only screen and (min-width: 580px) {
  .gap-none {
    gap: 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .gap-none {
    gap: 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .gap-none {
    gap: 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gap-none {
    gap: 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .gap-small {
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .gap-small {
    gap: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gap-small {
    gap: 3rem;
  }
}
@media only screen and (min-width: 580px) {
  .gap-large {
    gap: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .gap-large {
    gap: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .gap-large {
    gap: 6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gap-large {
    gap: 8.5rem;
  }
}
.bg-brand-01 {
  background-color: var(--brand-01);
}
.bg-brand-01--hover:hover {
  background-color: var(--brand-01--light);
}
.bg-brand-01--after:after {
  background-color: var(--brand-01);
}
.bg-brand-01--after:after:hover,
.bg-brand-01--light {
  background-color: var(--brand-01--light);
}
.bg-brand-01--light--hover:hover {
  background-color: var(--brand-01--light--light);
}
.bg-brand-01--light--after:after {
  background-color: var(--brand-01--light);
}
.bg-brand-01--light--after:after:hover {
  background-color: var(--brand-01--light--light);
}
.bg-brand-02 {
  background-color: var(--brand-02);
}
.bg-brand-02--hover:hover {
  background-color: var(--brand-02--light);
}
.bg-brand-02--after:after {
  background-color: var(--brand-02);
}
.bg-brand-02--after:after:hover,
.bg-brand-02--light {
  background-color: var(--brand-02--light);
}
.bg-brand-02--light--hover:hover {
  background-color: var(--brand-02--light--light);
}
.bg-brand-02--light--after:after {
  background-color: var(--brand-02--light);
}
.bg-brand-02--light--after:after:hover {
  background-color: var(--brand-02--light--light);
}
.bg-brand-03 {
  background-color: var(--brand-03);
}
.bg-brand-03--hover:hover {
  background-color: var(--brand-03--light);
}
.bg-brand-03--after:after {
  background-color: var(--brand-03);
}
.bg-brand-03--after:after:hover {
  background-color: var(--brand-03--light);
}
.bg-accent-01 {
  background-color: var(--accent-01);
}
.bg-accent-01--hover:hover {
  background-color: var(--accent-01--light);
}
.bg-accent-01--after:after {
  background-color: var(--accent-01);
}
.bg-accent-01--after:after:hover,
.bg-accent-01--light {
  background-color: var(--accent-01--light);
}
.bg-accent-01--light--hover:hover {
  background-color: var(--accent-01--light--light);
}
.bg-accent-01--light--after:after {
  background-color: var(--accent-01--light);
}
.bg-accent-01--light--after:after:hover {
  background-color: var(--accent-01--light--light);
}
.bg-accent-02 {
  background-color: var(--accent-02);
}
.bg-accent-02--hover:hover {
  background-color: var(--accent-02--light);
}
.bg-accent-02--after:after {
  background-color: var(--accent-02);
}
.bg-accent-02--after:after:hover,
.bg-accent-02--light {
  background-color: var(--accent-02--light);
}
.bg-accent-02--light--hover:hover {
  background-color: var(--accent-02--light--light);
}
.bg-accent-02--light--after:after {
  background-color: var(--accent-02--light);
}
.bg-accent-02--light--after:after:hover {
  background-color: var(--accent-02--light--light);
}
.bg-accent-03 {
  background-color: var(--accent-03);
}
.bg-accent-03--hover:hover {
  background-color: var(--accent-03--light);
}
.bg-accent-03--after:after {
  background-color: var(--accent-03);
}
.bg-accent-03--after:after:hover,
.bg-accent-03--light {
  background-color: var(--accent-03--light);
}
.bg-accent-03--light--hover:hover {
  background-color: var(--accent-03--light--light);
}
.bg-accent-03--light--after:after {
  background-color: var(--accent-03--light);
}
.bg-accent-03--light--after:after:hover {
  background-color: var(--accent-03--light--light);
}
.bg-accent-04 {
  background-color: var(--accent-04);
}
.bg-accent-04--hover:hover {
  background-color: var(--accent-04--light);
}
.bg-accent-04--after:after {
  background-color: var(--accent-04);
}
.bg-accent-04--after:after:hover,
.bg-accent-04--light {
  background-color: var(--accent-04--light);
}
.bg-accent-04--light--hover:hover {
  background-color: var(--accent-04--light--light);
}
.bg-accent-04--light--after:after {
  background-color: var(--accent-04--light);
}
.bg-accent-04--light--after:after:hover {
  background-color: var(--accent-04--light--light);
}
.bg-accent-05 {
  background-color: var(--accent-05);
}
.bg-accent-05--hover:hover {
  background-color: var(--accent-05--light);
}
.bg-accent-05--after:after {
  background-color: var(--accent-05);
}
.bg-accent-05--after:after:hover,
.bg-accent-05--light {
  background-color: var(--accent-05--light);
}
.bg-accent-05--light--hover:hover {
  background-color: var(--accent-05--light--light);
}
.bg-accent-05--light--after:after {
  background-color: var(--accent-05--light);
}
.bg-accent-05--light--after:after:hover {
  background-color: var(--accent-05--light--light);
}
.bg-light-01 {
  background-color: var(--light-01);
}
.bg-light-01--hover:hover {
  background-color: var(--light-01--light);
}
.bg-light-01--after:after {
  background-color: var(--light-01);
}
.bg-light-01--after:after:hover {
  background-color: var(--light-01--light);
}
.bg-dark-01 {
  background-color: var(--dark-01);
}
.bg-dark-01--hover:hover {
  background-color: var(--dark-01--light);
}
.bg-dark-01--after:after {
  background-color: var(--dark-01);
}
.bg-dark-01--after:after:hover,
.bg-dark-01--light {
  background-color: var(--dark-01--light);
}
.bg-dark-01--light--hover:hover {
  background-color: var(--dark-01--light--light);
}
.bg-dark-01--light--after:after {
  background-color: var(--dark-01--light);
}
.bg-dark-01--light--after:after:hover {
  background-color: var(--dark-01--light--light);
}
.bg-ui-success {
  background-color: var(--ui-success);
}
.bg-ui-success--hover:hover {
  background-color: var(--ui-success--light);
}
.bg-ui-success--after:after {
  background-color: var(--ui-success);
}
.bg-ui-success--after:after:hover {
  background-color: var(--ui-success--light);
}
.bg-ui-warning {
  background-color: var(--ui-warning);
}
.bg-ui-warning--hover:hover {
  background-color: var(--ui-warning--light);
}
.bg-ui-warning--after:after {
  background-color: var(--ui-warning);
}
.bg-ui-warning--after:after:hover {
  background-color: var(--ui-warning--light);
}
.bg-ui-danger {
  background-color: var(--ui-danger);
}
.bg-ui-danger--hover:hover {
  background-color: var(--ui-danger--light);
}
.bg-ui-danger--after:after {
  background-color: var(--ui-danger);
}
.bg-ui-danger--after:after:hover {
  background-color: var(--ui-danger--light);
}
.bg-ui-disabled {
  background-color: var(--ui-disabled);
}
.bg-ui-disabled--hover:hover {
  background-color: var(--ui-disabled--light);
}
.bg-ui-disabled--after:after {
  background-color: var(--ui-disabled);
}
.bg-ui-disabled--after:after:hover {
  background-color: var(--ui-disabled--light);
}
.bg-none {
  background-color: var(--none);
}
.bg-none--hover:hover {
  background-color: var(--none--light);
}
.bg-none--after:after {
  background-color: var(--none);
}
.bg-none--after:after:hover {
  background-color: var(--none--light);
}
.fill-brand-01 {
  fill: var(--brand-01);
}
.fill-brand-01--light {
  fill: var(--brand-01--light);
}
.fill-brand-02 {
  fill: var(--brand-02);
}
.fill-brand-02--light {
  fill: var(--brand-02--light);
}
.fill-brand-03 {
  fill: var(--brand-03);
}
.fill-accent-01 {
  fill: var(--accent-01);
}
.fill-accent-01--light {
  fill: var(--accent-01--light);
}
.fill-accent-02 {
  fill: var(--accent-02);
}
.fill-accent-02--light {
  fill: var(--accent-02--light);
}
.fill-accent-03 {
  fill: var(--accent-03);
}
.fill-accent-03--light {
  fill: var(--accent-03--light);
}
.fill-accent-04 {
  fill: var(--accent-04);
}
.fill-accent-04--light {
  fill: var(--accent-04--light);
}
.fill-accent-05 {
  fill: var(--accent-05);
}
.fill-accent-05--light {
  fill: var(--accent-05--light);
}
.fill-light-01 {
  fill: var(--light-01);
}
.fill-dark-01 {
  fill: var(--dark-01);
}
.fill-dark-01--light {
  fill: var(--dark-01--light);
}
.fill-ui-success {
  fill: var(--ui-success);
}
.fill-ui-warning {
  fill: var(--ui-warning);
}
.fill-ui-danger {
  fill: var(--ui-danger);
}
.fill-ui-disabled {
  fill: var(--ui-disabled);
}
.fill-none {
  fill: var(--none);
}
.stroke-brand-01 {
  stroke: var(--brand-01);
}
.stroke-brand-01--light {
  stroke: var(--brand-01--light);
}
.stroke-brand-02 {
  stroke: var(--brand-02);
}
.stroke-brand-02--light {
  stroke: var(--brand-02--light);
}
.stroke-brand-03 {
  stroke: var(--brand-03);
}
.stroke-accent-01 {
  stroke: var(--accent-01);
}
.stroke-accent-01--light {
  stroke: var(--accent-01--light);
}
.stroke-accent-02 {
  stroke: var(--accent-02);
}
.stroke-accent-02--light {
  stroke: var(--accent-02--light);
}
.stroke-accent-03 {
  stroke: var(--accent-03);
}
.stroke-accent-03--light {
  stroke: var(--accent-03--light);
}
.stroke-accent-04 {
  stroke: var(--accent-04);
}
.stroke-accent-04--light {
  stroke: var(--accent-04--light);
}
.stroke-accent-05 {
  stroke: var(--accent-05);
}
.stroke-accent-05--light {
  stroke: var(--accent-05--light);
}
.stroke-light-01 {
  stroke: var(--light-01);
}
.stroke-dark-01 {
  stroke: var(--dark-01);
}
.stroke-dark-01--light {
  stroke: var(--dark-01--light);
}
.stroke-ui-success {
  stroke: var(--ui-success);
}
.stroke-ui-warning {
  stroke: var(--ui-warning);
}
.stroke-ui-danger {
  stroke: var(--ui-danger);
}
.stroke-ui-disabled {
  stroke: var(--ui-disabled);
}
.stroke-none {
  stroke: var(--none);
}
.b-c-brand-01 {
  border-color: var(--brand-01);
}
.b-c-brand-01--light {
  border-color: var(--brand-01--light);
}
.b-c-brand-02 {
  border-color: var(--brand-02);
}
.b-c-brand-02--light {
  border-color: var(--brand-02--light);
}
.b-c-brand-03 {
  border-color: var(--brand-03);
}
.b-c-accent-01 {
  border-color: var(--accent-01);
}
.b-c-accent-01--light {
  border-color: var(--accent-01--light);
}
.b-c-accent-02 {
  border-color: var(--accent-02);
}
.b-c-accent-02--light {
  border-color: var(--accent-02--light);
}
.b-c-accent-03 {
  border-color: var(--accent-03);
}
.b-c-accent-03--light {
  border-color: var(--accent-03--light);
}
.b-c-accent-04 {
  border-color: var(--accent-04);
}
.b-c-accent-04--light {
  border-color: var(--accent-04--light);
}
.b-c-accent-05 {
  border-color: var(--accent-05);
}
.b-c-accent-05--light {
  border-color: var(--accent-05--light);
}
.b-c-light-01 {
  border-color: var(--light-01);
}
.b-c-dark-01 {
  border-color: var(--dark-01);
}
.b-c-dark-01--light {
  border-color: var(--dark-01--light);
}
.b-c-ui-success {
  border-color: var(--ui-success);
}
.b-c-ui-warning {
  border-color: var(--ui-warning);
}
.b-c-ui-danger {
  border-color: var(--ui-danger);
}
.b-c-ui-disabled {
  border-color: var(--ui-disabled);
}
.b-c-none,
.b-c-none--hover:hover {
  border-color: transparent;
}
.b-s-solid {
  border-style: solid;
}
.b-w-1 {
  border-width: 1px;
}
.b-w-1--bottom {
  border-width: 0 0 1px;
}
.i-s-extra-small {
  width: 1.5rem;
}
.i-s-small {
  width: 2.25rem;
}
.i-s-medium {
  width: 3.75rem;
}
.i-s-large {
  width: 6rem;
}
.hover {
  transition: all 0.25s ease-in-out;
}
.hover--lift:hover {
  transform: translateY(-0.25rem);
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.o-c-brand-01 {
  outline-color: var(--brand-01);
}
.o-c-brand-01--hover:hover,
.o-c-brand-01--light {
  outline-color: var(--brand-01--light);
}
.o-c-brand-01--light--hover:hover {
  outline-color: var(--brand-01--light--light);
}
.o-c-brand-02 {
  outline-color: var(--brand-02);
}
.o-c-brand-02--hover:hover,
.o-c-brand-02--light {
  outline-color: var(--brand-02--light);
}
.o-c-brand-02--light--hover:hover {
  outline-color: var(--brand-02--light--light);
}
.o-c-brand-03 {
  outline-color: var(--brand-03);
}
.o-c-brand-03--hover:hover {
  outline-color: var(--brand-03--light);
}
.o-c-accent-01 {
  outline-color: var(--accent-01);
}
.o-c-accent-01--hover:hover,
.o-c-accent-01--light {
  outline-color: var(--accent-01--light);
}
.o-c-accent-01--light--hover:hover {
  outline-color: var(--accent-01--light--light);
}
.o-c-accent-02 {
  outline-color: var(--accent-02);
}
.o-c-accent-02--hover:hover,
.o-c-accent-02--light {
  outline-color: var(--accent-02--light);
}
.o-c-accent-02--light--hover:hover {
  outline-color: var(--accent-02--light--light);
}
.o-c-accent-03 {
  outline-color: var(--accent-03);
}
.o-c-accent-03--hover:hover,
.o-c-accent-03--light {
  outline-color: var(--accent-03--light);
}
.o-c-accent-03--light--hover:hover {
  outline-color: var(--accent-03--light--light);
}
.o-c-accent-04 {
  outline-color: var(--accent-04);
}
.o-c-accent-04--hover:hover,
.o-c-accent-04--light {
  outline-color: var(--accent-04--light);
}
.o-c-accent-04--light--hover:hover {
  outline-color: var(--accent-04--light--light);
}
.o-c-accent-05 {
  outline-color: var(--accent-05);
}
.o-c-accent-05--hover:hover,
.o-c-accent-05--light {
  outline-color: var(--accent-05--light);
}
.o-c-accent-05--light--hover:hover {
  outline-color: var(--accent-05--light--light);
}
.o-c-light-01 {
  outline-color: var(--light-01);
}
.o-c-light-01--hover:hover {
  outline-color: var(--light-01--light);
}
.o-c-dark-01 {
  outline-color: var(--dark-01);
}
.o-c-dark-01--hover:hover,
.o-c-dark-01--light {
  outline-color: var(--dark-01--light);
}
.o-c-dark-01--light--hover:hover {
  outline-color: var(--dark-01--light--light);
}
.o-c-ui-success {
  outline-color: var(--ui-success);
}
.o-c-ui-success--hover:hover {
  outline-color: var(--ui-success--light);
}
.o-c-ui-warning {
  outline-color: var(--ui-warning);
}
.o-c-ui-warning--hover:hover {
  outline-color: var(--ui-warning--light);
}
.o-c-ui-danger {
  outline-color: var(--ui-danger);
}
.o-c-ui-danger--hover:hover {
  outline-color: var(--ui-danger--light);
}
.o-c-ui-disabled {
  outline-color: var(--ui-disabled);
}
.o-c-ui-disabled--hover:hover {
  outline-color: var(--ui-disabled--light);
}
.o-c-none,
.o-c-none--hover:hover {
  outline-color: transparent;
}
.o-s-solid {
  outline-style: solid;
}
.o-w-2 {
  outline-width: 2px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  --none: none;
  --brand-01: #4a5640;
  --brand-01--light: color-mix(in srgb, var(--brand-01), #fff 15%);
  --brand-02: #fcf9eb;
  --brand-02--light: color-mix(in srgb, var(--brand-02), #fff 15%);
  --brand-03: #fff;
  --accent-01: #697661;
  --accent-01--light: color-mix(in srgb, var(--accent-01), #fff 15%);
  --accent-02: #3c3937;
  --accent-02--light: color-mix(in srgb, var(--accent-02), #fff 15%);
  --accent-03: #f5d49f;
  --accent-03--light: color-mix(in srgb, var(--accent-03), #fff 15%);
  --accent-04: #c1be7d;
  --accent-04--light: color-mix(in srgb, var(--accent-04), #fff 15%);
  --accent-05: #aec7cc;
  --accent-05--light: color-mix(in srgb, var(--accent-05), #fff 15%);
  --light-01: #fff;
  --dark-01: #3c3937;
  --dark-01--light: color-mix(in srgb, var(--dark-01), #fff 15%);
  --ui-success: #4a5640;
  --ui-warning: #ff0;
  --ui-danger: #cd3824;
  --ui-disabled: #858881;
}
